services:
  - type: web
    name: scribble-backend
    runtime: node
    rootDir: server
    plan: free
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: MONGO_URI
        sync: false
      - key: JWT_SECRET
        sync: false
      - key: CLIENT_URL
        fromService:
          type: static_site
          name: scribble-frontend
          property: url

  - type: static_site
    name: scribble-frontend
    rootDir: client
    plan: free
    buildCommand: npm install && npm run build
    publishDir: build
    envVars:
      - key: REACT_APP_BACKEND_URL
        fromService:
          type: web
          name: scribble-backend
          property: url
